.wrapper {
  margin-top: 169px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  .communicate {
    display: flex;
    justify-content: space-between;

    .box {
      display: flex;
      align-items: center;
      .logo {
        margin-right: 118px;
      }
    }

    .link {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
    }
    .contacts {
      display: flex;
      align-items: center;
      .contact {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;

        &:first-child {
          font-size: 20px;
          margin-right: 29px;
        }
      }
    }
  }

  .politic {
    margin-top: 28px;
    padding-top: 28px;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ref {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
    }

    .offer {
      display: flex;
      align-items: center;
      .ref {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;

        margin-right: 45px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
